body{
  /* background: linear-gradient(to right, #000428, #004e92);*/
  background: linear-gradient(to right, #024dd8d2, #137df7);
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-repeat:no-repeat;
     
     
}
